{% extends 'base.html' %} {% load static %}{% block content %}
<div
  class="flex flex-col items-center py-20"
  style="background: radial-gradient(circle, #f9cd6a, #4840a3)"
>

  <div class="lg:block hidden fixed top-0 right-0 h-screen w-1/2">
    <div class="relative h-full w-full">
      <div
        class="absolute top-[46%] right-[3rem] flex flex-col items-center justify-center bg-[#F9CD6A] w-[13rem] h-[6rem] rounded-lg">
        <span id="boy-message" class="text-xl font-bold text-white text-center">
          Hi there, kid!
        </span>
      </div>
      <img src="{% static 'images/logo (6).png' %}" alt="boy"
        class="w-[20rem] absolute bottom-0 right-[-5rem] object-shadow">
    </div>
  </div>


  <div class="flex items-start justify-center gap-4 text-center">
    <img
      src="{% static 'images/activities-logo.png' %}"
      alt="Eco-Ranger"
      class="h-12 w-12"
    />
    <h2
      class="text-3xl sm:text-4xl text-center font-extrabold text-[#F9CD6A] mb-8"
    >
      Fun Game Activities for Kids!
    </h2>
    <img
      src="{% static 'images/activities-logo.png' %}"
      alt="Eco-Ranger"
      class="h-12 w-12"
    />
  </div>
  <div class="text-center mb-8">
    <p class="text-lg sm:text-xl text-[#D8EFF7] font-semibold">
      Dive into these exciting activities and learn about climate change while
      having fun! Start playing now!
    </p>
  </div>

  <div class="flex flex-col gap-8 w-[90%] md:w-[60%] mx-auto p-4">
    <!-- Game 1 -->
    <div class="game-item rounded-md bg-[#9CBBFC] p-4 z-10">
      <h3 class="text-lg font-bold text-[#4840A3]">Clean Ocean Game</h3>
      <p class="text-[#4840A3] text-justify p-4">Clean Ocean Game is an engaging and educational game where players work to clean up oceans by collecting trash, rescuing
      marine life, and preventing pollution. Through fun challenges and tasks, it raises awareness about environmental
      conservation and inspires players to protect aquatic ecosystems. Perfect for all ages, it combines entertainment with a
      meaningful message about sustainability.</p>
      <iframe
        class="item-direct-container rounded-lg w-full border-8 border-[#D8EFF7] aspect-video"
        allow="autoplay"
        allowfullscreen
        frameborder="0"
        scrolling="no"
        src="https://html5.gamedistribution.com/a2f91e31ff624a41aae98ea783784bea/?gd_sdk_referrer_url=https%3A%2F%2Fwww.y8.com%2Fgames%2Fclean_ocean&amp;key=y8&amp;value=default"
      ></iframe>
      <div class="mt-4">
        <p class="text-[#4840A3]">
          Help clean up the ocean in this fun and educational game!
        </p>
      </div>
    </div>

    <!-- Game 2 -->
    <div class="game-item bg-[#9CBBFC] p-4 rounded-md z-10">
      <h3 class="text-lg font-bold text-[#4840A3]">
        Fireboy and Watergirl
      </h3>
      <p class="text-[#4840A3] text-justify p-4">
        Fireboy and Watergirl is a popular puzzle-platformer game series where players control two elemental characters—Fireboy
        and Watergirl—as they navigate through temples filled with traps and challenges. Each character has unique abilities:
        Fireboy can withstand fire and lava but is vulnerable to water, while Watergirl can handle water but not fire.
        Cooperation is key, making it a fun and strategic game for solo players or multiplayer teamwork.
      </p>
      <iframe
        class="item-direct-container rounded-lg w-full border-8 border-[#D8EFF7] aspect-video"
        allow="autoplay"
        allowfullscreen
        frameborder="0"
        scrolling="no"
        src="https://html5.gamedistribution.com/a55c9cc9c21e4fc683c8c6857f3d0c75/"
      ></iframe>
      <div class="mt-4">
        <p class="text-[#4840A3]">
          Help Fireboy and Watergirl navigate through the temple by collecting
          all the diamonds and reaching the exit. The game is a challenging
          puzzle game that requires teamwork and quick thinking to overcome
          obstacles and defeat enemies.
        </p>
      </div>
    </div>

    <!-- Game 3 -->
    <div class="game-item bg-[#9CBBFC] p-4 rounded-md z-10">
      <h3 class="text-lg font-bold text-[#4840A3]">Water Sorting Game</h3>
      <p class="text-[#4840A3] text-justify p-4">Water Sorting Game is a relaxing and addictive puzzle game where players organize colored liquids into separate
      containers. The goal is to sort the water so each container holds only one color. With increasing difficulty levels, the
      game challenges players' problem-solving and planning skills, offering a satisfying blend of strategy and fun. Perfect
      for casual gamers looking for a calming yet engaging experience.</p>
      <iframe
        class="item-direct-container rounded-lg w-full border-8 border-[#D8EFF7] aspect-video
        allow="autoplay"
        allowfullscreen
        frameborder="0"
        scrolling="no"
        src="https://html5.gamemonetize.com/pgxbw7osdaqpcvqpszf31eioraj1hwb6/?key=y8&value=default"
      ></iframe>
      <div class="mt-4">
        <p class="text-[#4840A3]">
          Sort the water in this game and learn about water conservation!
        </p>
      </div>
    </div>

    <!-- Game 4 -->
    <div class="game-item bg-[#9CBBFC] p-4 rounded-md z-10">
      <h3 class="text-lg font-bold text-[#4840A3]">Recycler Game</h3>
      <p class="text-[#4840A3] text-justify p-4">
        Recycler Game is an educational and interactive game where players learn about waste management by sorting items into
        the correct recycling bins. Players are challenged to identify and separate materials like plastics, metals, glass, and
        paper while avoiding mistakes. With time-based challenges or increasing difficulty, the game promotes environmental
        awareness and encourages sustainable habits in a fun and engaging way. Suitable for players of all ages!
      </p>
      <iframe
        class="item-direct-container rounded-lg w-full border-8 border-[#D8EFF7] aspect-video"
        allow="autoplay"
        allowfullscreen
        frameborder="0"
        scrolling="no"
        src="https://storage.y8.com/y8-studio/unity/szaszrobi03/Recycler/?key=y8&value=default"
      ></iframe>
      <div class="mt-4">
        <p class="text-[#4840A3]">
          Become a recycler and help the environment!
        </p>
      </div>
    </div>

    <!-- Game 5 -->
    <div class="game-item bg-[#9CBBFC] p-4 rounded-md z-10">
      <h3 class="text-lg font-bold text-[#4840A3]">Happy Crayons</h3>
      <p class="text-[#4840A3] text-justify p-4">
        Happy Crayons is a delightful and creative coloring game designed for kids and art lovers of all ages. Players can
        choose from a variety of fun templates and bring them to life with vibrant crayons, paints, and tools. The game
        encourages imagination, improves motor skills, and provides a relaxing outlet for self-expression. Perfect for fostering
        creativity in a playful and cheerful environment!
      </p>
      <iframe
        class="item-direct-container rounded-lg w-full border-8 border-[#D8EFF7] aspect-video"
        allow="autoplay"
        allowfullscreen
        frameborder="0"
        scrolling="no"
        src="https://storage.y8.com/y8-studio/html5/akeemywka/happy_crayons_v2/?key=8465263&value=164734"
      ></iframe>
      <div class="mt-4">
        <p class="text-[#4840A3]">
          Get creative with colors and help raise awareness about the
          environment!
        </p>
      </div>
    </div>

    <!-- Game 6 -->
    <div class="game-item bg-[#9CBBFC] p-4 rounded-md z-10">
      <h3 class="text-lg font-bold text-[#4840A3]">Color Water Sort</h3>
      <p class="text-[#4840A3] text-justify p-4">
        Color Water Sort is a fun and brain-teasing puzzle game where players organize colorful liquids into separate bottles.
        The goal is to sort the colors so that each bottle contains only one shade. With simple controls but increasingly
        challenging levels, the game tests logic, strategy, and patience. Perfect for anyone looking for a calming yet
        stimulating activity!
      </p>
      <iframe
        class="item-direct-container rounded-lg w-full border-8 border-[#D8EFF7] aspect-video"
        allow="autoplay"
        allowfullscreen
        frameborder="0"
        scrolling="no"
        src="https://play.famobi.com/color-water-sort-3d/A-5U0J1?key=y8&value=default"
      ></iframe>
      <div class="mt-4">
        <p class="text-[#4840A3]">
          Sort the colored water in this fun and challenging game!
        </p>
      </div>
    </div>

    <!-- Game 7 -->
    <div class="game-item bg-[#9CBBFC] p-4 rounded-md z-10">
      <h3 class="text-lg font-bold text-[#4840A3]">Planet Protector</h3>
      <p class="text-[#4840A3] text-justify p-4">
        Planet Protector is an action-packed educational game where players take on the role of eco-heroes defending Earth from
        environmental threats. Through activities like cleaning up pollution, planting trees, and combating climate challenges,
        players learn about sustainability and the importance of protecting the planet. With exciting missions and a powerful
        message, the game inspires players of all ages to become real-life planet protectors!
      </p>
      <iframe
        class="item-direct-container rounded-lg w-full border-8 border-[#D8EFF7] aspect-video"
        allow="autoplay"
        allowfullscreen
        frameborder="0"
        scrolling="no"
        src="https://html5.gamemonetize.com/khcgche2yhuzqg6ies2jtr3yaju9na98/?key=y8&value=default"
      ></iframe>
      <div class="mt-4">
        <p class="text-[#4840A3]">
          Protect the planet and learn about environmental responsibility.
        </p>
      </div>
    </div>

    <!-- Game 8 -->
    <div class="game-item bg-[#9CBBFC] p-4 rounded-md z-10">
      <h3 class="text-lg font-bold text-[#4840A3]">Solar System Scope</h3>
      <p class="text-[#4840A3] text-justify p-4">
        Solar System Scope is an interactive 3D simulation and educational tool that lets users explore the wonders of the solar
        system. Players can navigate through planets, moons, and stars, learning fascinating facts and observing celestial
        bodies in stunning detail. With realistic graphics and accurate astronomical data, it’s perfect for space enthusiasts,
        students, and anyone curious about the universe. A fun and immersive way to learn about astronomy!
      </p>
      <iframe
        class="item-direct-container rounded-lg w-full border-8 border-[#D8EFF7] aspect-video"
        allow="autoplay"
        allowfullscreen
        frameborder="0"
        scrolling="no"
        src="https://www.solarsystemscope.com/iframe?key=y8&value=default"
      ></iframe>
      <div class="mt-4">
        <p class="text-[#4840A3]">
          Explore the solar system and understand our place in the universe.
        </p>
      </div>
    </div>

    <!-- Game 9 -->
    <div class="game-item bg-[#9CBBFC] p-4 rounded-md z-10">
      <h3 class="text-lg font-bold text-[#4840A3]">Recycling Time 2</h3>
      <p class="text-[#4840A3] text-justify p-4">
        Recycling Time 2 is an engaging eco-themed game that challenges players to master waste sorting and recycling
        techniques. With improved graphics, new levels, and diverse materials to manage, players must correctly separate items
        like plastics, paper, glass, and e-waste to earn points and protect the environment. Fun mini-games and educational
        elements make it an exciting sequel that promotes sustainability while testing your reflexes and problem-solving skills!
      </p>
      <iframe
        class="item-direct-container rounded-lg w-full border-8 border-[#D8EFF7] aspect-video"
        allow="autoplay"
        allowfullscreen
        frameborder="0"
        scrolling="no"
        src="https://html5.gamedistribution.com/57dc1702f3e84cbfa81be77362065eea/?gd_sdk_referrer_url=https%3A%2F%2Fwww.y8.com%2Fgames%2Frecycling_time_2&key=y8&value=default"
      ></iframe>
      <div class="mt-4">
        <p class="text-[#4840A3]">
          Learn about recycling and help protect the environment!
        </p>
      </div>
    </div>

    <!-- Game 10 -->
    <div class="game-item bg-[#9CBBFC] p-4 rounded-md z-10">
      <h3 class="text-lg font-bold text-[#4840A3]">Penguin Skip</h3>
      <p class="text-[#4840A3] text-justify p-4">
        Penguin Skip is a fast-paced and adorable arcade game where players help a playful penguin jump across icy platforms,
        dodge obstacles, and collect rewards. With simple controls and increasing challenges, it’s a test of timing and agility.
        Perfect for all ages, the game combines fun and cuteness, offering endless entertainment in a chilly, vibrant setting!
      </p>
      <iframe
        class="item-direct-container rounded-lg w-full border-8 border-[#D8EFF7] aspect-video"
        allow="autoplay"
        allowfullscreen
        frameborder="0"
        scrolling="no"
        src="https://play.famobi.com/penguin-skip/A-5U0J1?key=y8&value=default"
      ></iframe>
      <div class="mt-4">
        <p class="text-[#4840A3]">
          Help the penguin jump over the obstacles to reach the end of the
          track. Protect the planet and learn about environmental
          responsibility.
        </p>
      </div>
    </div>
  </div>
</div>
{% include "footer.html" %} {% endblock %}
