{% extends 'base.html' %} {% load static %}{% block content %}
<div
  class="flex flex-col items-center py-10 md:py-20"
  style="background: radial-gradient(circle, #f9cd6a, #4840a3)"
>
  <div class="flex items-start justify-center gap-4 text-center">
    <img
      src="{% static 'images/activities-logo.png' %}"
      alt="Eco-Ranger"
      class="h-12 w-12"
    />
    <h2
      class="text-3xl sm:text-4xl text-center font-extrabold text-[#F9CD6A] mb-8"
    >
      Fun Game Activities for Kids!
    </h2>
    <img
      src="{% static 'images/activities-logo.png' %}"
      alt="Eco-Ranger"
      class="h-12 w-12"
    />
  </div>
  <div class="text-center mb-8">
    <p class="text-lg sm:text-xl text-[#D8EFF7] font-semibold">
      Dive into these exciting activities and learn about climate change while
      having fun! Start playing now!
    </p>
  </div>

  <div class="flex flex-col gap-8 w-[90%] md:w-[60%] mx-auto p-4">
    <!-- Game 1 -->
    <div class="game-item rounded-md bg-[#9CBBFC] p-4">
      <iframe
        class="item-direct-container rounded-lg w-full border-8 border-[#D8EFF7]"
        height="800"
        allow="autoplay"
        allowfullscreen
        frameborder="0"
        scrolling="no"
        src="https://html5.gamedistribution.com/a2f91e31ff624a41aae98ea783784bea/?gd_sdk_referrer_url=https%3A%2F%2Fwww.y8.com%2Fgames%2Fclean_ocean&amp;key=y8&amp;value=default"
      ></iframe>
      <h3 class="mt-4 text-lg font-bold text-[#4840A3]">Clean Ocean Game</h3>
      <p class="text-[#4840A3]">
        Help clean up the ocean in this fun and educational game!
      </p>
    </div>

    <!-- Game 2 -->
    <div class="game-item bg-[#9CBBFC] p-4 rounded-md">
      <iframe
        class="item-direct-container rounded-lg w-full border-8 border-[#D8EFF7]"
        height="800"
        allow="autoplay"
        allowfullscreen
        frameborder="0"
        scrolling="no"
        src="https://html5.gamedistribution.com/a55c9cc9c21e4fc683c8c6857f3d0c75/"
      ></iframe>
      <h3 class="mt-4 text-lg font-bold text-[#4840A3]">
        Fireboy and Watergirl 1
      </h3>
      <p class="text-[#4840A3]">
        Help Fireboy and Watergirl navigate through the temple by collecting all
        the diamonds and reaching the exit. The game is a challenging puzzle
        game that requires teamwork and quick thinking to overcome obstacles and
        defeat enemies.
      </p>
    </div>

    <!-- Game 3 -->
    <div class="game-item bg-[#9CBBFC] p-4 rounded-md">
      <iframe
        class="item-direct-container rounded-lg w-full border-8 border-[#D8EFF7]"
        height="800"
        allow="autoplay"
        allowfullscreen
        frameborder="0"
        scrolling="no"
        src="https://html5.gamemonetize.com/pgxbw7osdaqpcvqpszf31eioraj1hwb6/?key=y8&value=default"
      ></iframe>
      <h3 class="mt-4 text-lg font-bold text-[#4840A3]">Water Sorting Game</h3>
      <p class="text-[#4840A3]">
        Sort the water in this game and learn about water conservation!
      </p>
    </div>

    <!-- Game 4 -->
    <div class="game-item bg-[#9CBBFC] p-4 rounded-md">
      <iframe
        class="item-direct-container rounded-lg w-full border-8 border-[#D8EFF7]"
        height="800"
        allow="autoplay"
        allowfullscreen
        frameborder="0"
        scrolling="no"
        src="https://storage.y8.com/y8-studio/unity/szaszrobi03/Recycler/?key=y8&value=default"
      ></iframe>
      <h3 class="mt-4 text-lg font-bold text-[#4840A3]">Recycler Game</h3>
      <p class="text-[#4840A3]">Become a recycler and help the environment!</p>
    </div>

    <!-- Game 5 -->
    <div class="game-item bg-[#9CBBFC] p-4 rounded-md">
      <iframe
        class="item-direct-container rounded-lg w-full border-8 border-[#D8EFF7]"
        height="800"
        allow="autoplay"
        allowfullscreen
        frameborder="0"
        scrolling="no"
        src="https://storage.y8.com/y8-studio/html5/akeemywka/happy_crayons_v2/?key=8465263&value=164734"
      ></iframe>
      <h3 class="mt-4 text-lg font-bold text-[#4840A3]">Happy Crayons</h3>
      <p class="text-[#4840A3]">
        Get creative with colors and help raise awareness about the environment!
      </p>
    </div>

    <!-- Game 6 -->
    <div class="game-item bg-[#9CBBFC] p-4 rounded-md">
      <iframe
        class="item-direct-container rounded-lg w-full border-8 border-[#D8EFF7]"
        height="800"
        allow="autoplay"
        allowfullscreen
        frameborder="0"
        scrolling="no"
        src="https://play.famobi.com/color-water-sort-3d/A-5U0J1?key=y8&value=default"
      ></iframe>
      <h3 class="mt-4 text-lg font-bold text-[#4840A3]">Color Water Sort</h3>
      <p class="text-[#4840A3]">
        Sort the colored water in this fun and challenging game!
      </p>
    </div>

    <!-- Game 7 -->
    <div class="game-item bg-[#9CBBFC] p-4 rounded-md">
      <iframe
        class="item-direct-container rounded-lg w-full border-8 border-[#D8EFF7]"
        height="800"
        allow="autoplay"
        allowfullscreen
        frameborder="0"
        scrolling="no"
        src="https://html5.gamemonetize.com/khcgche2yhuzqg6ies2jtr3yaju9na98/?key=y8&value=default"
      ></iframe>
      <h3 class="mt-4 text-lg font-bold text-[#4840A3]">Planet Protector</h3>
      <p class="text-[#4840A3]">
        Protect the planet and learn about environmental responsibility.
      </p>
    </div>

    <!-- Game 8 -->
    <div class="game-item bg-[#9CBBFC] p-4 rounded-md">
      <iframe
        class="item-direct-container rounded-lg w-full border-8 border-[#D8EFF7]"
        height="800"
        allow="autoplay"
        allowfullscreen
        frameborder="0"
        scrolling="no"
        src="https://www.solarsystemscope.com/iframe?key=y8&value=default"
      ></iframe>
      <h3 class="mt-4 text-lg font-bold text-[#4840A3]">Solar System Scope</h3>
      <p class="text-[#4840A3]">
        Explore the solar system and understand our place in the universe.
      </p>
    </div>

    <!-- Game 9 -->
    <div class="game-item bg-[#9CBBFC] p-4 rounded-md">
      <iframe
        class="item-direct-container rounded-lg w-full border-8 border-[#D8EFF7]"
        height="800"
        allow="autoplay"
        allowfullscreen
        frameborder="0"
        scrolling="no"
        src="https://html5.gamedistribution.com/57dc1702f3e84cbfa81be77362065eea/?gd_sdk_referrer_url=https%3A%2F%2Fwww.y8.com%2Fgames%2Frecycling_time_2&key=y8&value=default"
      ></iframe>
      <h3 class="mt-4 text-lg font-bold text-[#4840A3]">Recycling Time 2</h3>
      <p class="text-[#4840A3]">
        Learn about recycling and help protect the environment!
      </p>
    </div>

    <!-- Game 10 -->
    <div class="game-item bg-[#9CBBFC] p-4 rounded-md">
      <iframe
        class="item-direct-container rounded-lg w-full border-8 border-[#D8EFF7]"
        height="800"
        allow="autoplay"
        allowfullscreen
        frameborder="0"
        scrolling="no"
        src="https://play.famobi.com/penguin-skip/A-5U0J1?key=y8&value=default"
      ></iframe>
      <h3 class="mt-4 text-lg font-bold text-[#4840A3]">Penguin Skip</h3>
      <p class="text-[#4840A3]">
        Help the penguin jump over the obstacles to reach the end of the track.
        Protect the planet and learn about environmental responsibility.
      </p>
    </div>
  </div>
</div>
{% include "footer.html" %} {% endblock %}
