<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Eco-Rangers {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="{% static 'images/logo.png' %}"
      type="image/x-icon"
    />
  </head>

  <body class="bg-[#4840A3]">
    <nav
      class="text-white fixed top-0 left-0 right-0 z-20 p-2 px-6 transition-all ease-in duration-500"
      id="navigation-full-screen"
    >
      <div
        class="bg-[#D8EFF7] text-[#4840A3] py-4 lg:px-16 md:px-8 px-4 rounded-lg flex justify-between items-center w-full shadow-md"
      >
        <span class="flex items-center">
          <img
            src="{% static 'images/logo.png' %}"
            alt="Eco-Rangers Logo"
            class="h-8 w-8 mr-2"
          />
          <span class="md:text-lg text-md font-semibold"
            >Eco-Rangers: Save the Planet!</span
          >
        </span>
        <button
          class="lg:hidden block flex items-center text-[#4840A3] hover:text-gray-900"
          type="button"
          onclick="toggleMenu()"
          aria-label="Toggle navigation"
        >
          <svg
            class="h-4 w-4 fill-current hover:text-white"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0V15z" />
          </svg>
        </button>
        <div class="lg:block hidden w-1/2">
          <div class="flex items-center justify-end w-full h-full px-5">
            <ul class="flex gap-8 text-sm">
              <li id="home-link" class="nav-item">
                <a class="hover:text-[#F9CD6A]" href="{% url 'home' %}">Home</a>
              </li>
              <li id="articles-link" class="nav-item">
                <a class="hover:text-[#F9CD6A]" href="{% url 'articles' %}"
                  >Articles</a
                >
              </li>
              <li id="activities-link" class="nav-item">
                <a class="hover:text-[#F9CD6A]" href="{% url 'activities' %}"
                  >Activities</a
                >
              </li>
              <li id="multimedia-link" class="nav-item">
                <a class="hover:text-[#F9CD6A]" href="{% url 'multimedia' %}"
                  >Multimedia</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div
      class="w-full h-dvh fixed top-0 left-[100%] z-20 bg-[#D8EFF7] transition-all ease-in-out duration-300"
      id="navigation"
    >
      <div class="flex items-center justify-center w-full h-full px-5">
        <ul class="flex flex-col gap-4">
          <li
            class="flex items-center gap-2 text-[#4840A3] hover:text-gray-900 cursor-pointer nav-item"
            onclick="toggleMenu()"
            id="close-menu"
          >
            <i class="fas fa-times text-[#4840A3]"></i>Close
          </li>
          <li
            class="flex gap-2 text-[#4840A3] hover:text-gray-900 nav-item"
            id="mobile-home-link"
          >
            <a href="{% url 'home' %}">
              <i class="fas fa-home text-[#4840A3]"></i> Home
            </a>
          </li>
          <li
            class="flex gap-2 text-[#4840A3] hover:text-gray-900 nav-item"
            id="mobile-articles-link"
          >
            <a href="{% url 'articles' %}">
              <i class="fas fa-newspaper text-[#4840A3]"></i> Articles
            </a>
          </li>
          <li
            class="flex gap-2 text-[#4840A3] hover:text-gray-900 nav-item"
            id="mobile-activities-link"
          >
            <a href="{% url 'activities' %}">
              <i class="fas fa-running text-[#4840A3]"></i> Activities
            </a>
          </li>
          <li
            class="flex gap-2 text-[#4840A3] hover:text-gray-900 nav-item"
            id="mobile-multimedia-link"
          >
            <a href="{% url 'multimedia' %}">
              <i class="fas fa-images text-[#4840A3]"></i> Multimedia
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="absolute top-0 left-0 right-0 h-full">
      {% block content %} {% endblock %}
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
    {% load static %}
    <script src="{% static 'main.js' %}"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const navItems = document.querySelectorAll(".nav-item");

        navItems.forEach((item) => {
          item.addEventListener("click", function () {
            navItems.forEach((i) =>
              i.classList.remove("underline", "font-bold")
            );
            this.classList.add("underline", "font-bold");
          });
        });

        // Optionally, highlight the current page if it's already active
        const currentUrl = window.location.pathname;
        navItems.forEach((item) => {
          const link = item.querySelector("a");
          if (link && link.href.includes(currentUrl)) {
            item.classList.add("underline", "font-bold");
          }
        });
      });
    </script>
  </body>
</html>
