{% extends 'base.html' %} {% load static %} {% block content %}
<div class="flex flex-col items-center pb-10">
  <!-- Hero Section -->
  <section
    class="relative w-full h-screen flex flex-col items-center justify-center"
  >
    <!-- Video Background -->
    <video autoplay loop muted class="absolute w-full h-full object-cover">
      <source src="{% static 'videos/galaxy.mp4' %}" type="video/mp4" />
      Your browser does not support the video tag.
    </video>

    <!-- Content -->
    <div
      class="w-full pt-20 z-10 opacity-0 transition-all ease-in duration-500"
      id="welcome-text"
    >
      <div
        class="w-full flex flex-col items-center justify-center text-center gap-4 pt-8"
      >
        <h1 class="md:text-6xl text-2xl font-bold text-[#F9CD6A]">
          Welcome to Eco-Rangers!
        </h1>
        <p class="md:text-xl text-md text-[#9CBBFC]">
          Join us in saving the planet and learning about our amazing Earth!
        </p>
      </div>
    </div>
    <div
      class="w-full h-[100%] flex flex-col items-center justify-center overflow-hidden z-10 transition-all ease-in duration-500"
      id="globe-container"
    >
      <div id="elf-container">
        <div class="flex flex-col bg-white rounded-full px-6 py-2 gap-1">
          <span
            id="elf-message"
            class="text-sm font-semibold text-black text-center"
            >Hello, Eco-Warriors!</span
          >
          <button
            class="bg-blue-500 hover:bg-blue-600 text-white text-sm rounded-full"
            id="elf-button"
            onclick="toggleLoad()"
          >
            Start Exploring
          </button>
        </div>
        <div class="flex h-[5rem] items-center justify-center mt-1">
          <img
            src="{% static 'videos/elf.gif' %}"
            alt="Elf"
            loading="lazy"
            class="h-[6rem]"
            id="elf-image"
          />
        </div>
      </div>
      <div class="w-[60rem] h-[80%]">
        <img
          src="{% static 'images/globe.png' %}"
          alt="Globe"
          loading="lazy"
          class="w-full animate-spin [animation-duration:100s]"
          id="globe-image"
        />
      </div>
    </div>
  </section>

  <!-- About Eco-Rangers Section -->
  <section class="mt-12 w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="container mx-auto p-6">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex flex-col items-start justify-center">
          <h2 class="text-4xl font-bold text-[#F9CD6A]">
            Eco-Rangers: Save the Planet!
          </h2>
          <p class="mt-4 text-lg text-[#D8EFF7]">
            Eco-Rangers is a community inspiring kids to protect the planet
            through fun activities, lessons, and challenges. Together, we can
            grow a new generation of eco-heroes ready to make a difference!
          </p>
        </div>
        <div class="flex items-center justify-center">
          <img
            src="{% static 'images/PLANET.png' %}"
            alt="Planet"
            loading="lazy"
            class="w-[20rem] h-[20rem]"
          />
        </div>
      </div>
    </div>
    <div class="mt-6 p-6 flex flex-col items-center md:flex-row md:justify-between gap-8">
      <div class="flex items-center justify-center w-full md:w-[50rem] h-[20rem] md:h-auto">
        <div class="flex items-center justify-center bg-white rounded-xl w-full md:w-auto">
          <img src="{% static 'images/LOGO-1.png' %}" alt="Eco-Rangers">
        </div>
      </div>
      <div class="flex flex-col items-center text-center w-full md:px-8">
        <h2 class="text-4xl font-bold text-center text-[#F9CD6A]">About Us</h2>
        <p class="mt-4 text-lg text-justify text-[#D8EFF7]">
          Eco-Rangers is a group of people who care about the planet. We want to teach kids why taking care of the Earth is important
          and how they can help. We believe that by learning about nature and taking care of it, we can make a difference and create
          a better future for everyone. We do this by making learning fun with games, activities, and hands-on experiences that
          spark curiosity and inspire kids to take action.
        </p>
      </div>
    </div>

    <!-- Mission Statement -->
    <div class="mt-10 mb-10 p-6 text-center">
      <div class="flex flex-col items-center gap-6">
        <h3 class="text-2xl md:text-3xl font-bold text-[#F9CD6A]">Our Vision</h3>
        <div class="flex flex-col md:flex-row items-center justify-center gap-4">
          <img src="{% static 'images/logo (2).png' %}" alt="ECO RANGERS" class="w-32 h-28 md:w-44 md:h-38" />
          <p class="text-[#D8EFF7] text-sm md:text-base">
            At Eco-Rangers, our vision is to cultivate a world where every child grows up with a deep respect and understanding of
            the environment, empowered to take meaningful action to protect and preserve our planet. We envision a future where
            young minds are inspired to embrace sustainability, innovation, and environmental stewardship as core values, leading
            the charge toward a healthier, greener, and more resilient Earth.
          </p>
          <img src="{% static 'images/logo (4).png' %}" alt="ECO RANGERS" class="w-32 h-28 md:w-44 md:h-38" />
        </div>
        <p class="mt-4 text-[#D8EFF7] text-sm md:text-base">
          Through education, community engagement, and hands-on experiences, we aim to create a generation of informed,
          compassionate, and proactive individuals who will champion environmental conservation, inspire change in their
          communities, and work collaboratively to ensure a thriving planet for all living beings. Together, we dream of a
          brighter tomorrow where harmony between humanity and nature is not just a goal but a way of life.
        </p>
      </div>
      <div class="flex flex-col items-center gap-6 mt-20">
        <h3 class="text-2xl md:text-3xl font-bold text-[#F9CD6A]">Our Mission</h3>
        <div class="flex flex-col md:flex-row items-center justify-center gap-4">
          <img src="{% static 'images/logo (5).png' %}" alt="ECO RANGERS" class="w-32 h-28 md:w-44 md:h-38" />
          <p class="text-[#D8EFF7] text-sm md:text-base">
            At Eco-Rangers, our mission is to empower the next generation of environmental leaders by equipping them with the knowledge, skills, and
            confidence needed to make a lasting positive impact on the world around them. Together, we aim to create a global
            movement of young eco-champions who will lead the way in protecting and preserving our precious Earth for generations to
            come.
          </p>
          <img src="{% static 'images/logo (6).png' %}" alt="ECO RANGERS" class="w-32 h-28 md:w-44 md:h-38" />
        </div>
      </div>
      <div class="mt-6 flex flex-wrap justify-center items-center gap-6">
        <div
          class="md:w-40 md:h-40 w-30 bg-green-200 rounded-full flex items-center justify-center"
        >
          <img
            src="{% static 'images/RECYCLE.png' %}"
            alt="Recycle"
            class="w-24"
          />
        </div>
        <div
          class="md:w-40 md:h-40 w-30 bg-blue-200 rounded-full flex items-center justify-center"
        >
          <img
            src="{% static 'images/EARTH.png' %}"
            alt="Earth"
            class="w-24"
          />
        </div>
        <div
          class="md:w-40 md:h-40 w-30 bg-yellow-200 rounded-full flex items-center justify-center"
        >
          <img
            src="{% static 'images/SUN.png' %}"
            alt="Sun"
            class="w-24"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="w-full h-full flex flex-col px-4 sm:px-6 lg:px-8 mt-10">
    <div class="w-full h-full flex flex-col gap-6">
      <div class="flex justify-between items-center w-full">
        <h2 class="text-xl md:text-4xl font-extrabold text-[#F9CD6A]">
          But How Do We Save the Planet?
        </h2>
        <button class="bg-blue-500 hover:bg-blue-600 text-white text-sm rounded-full py-2 px-4">more videos</button>
      </div>
      <div
        class="flex items-center justify-center w-full p-2 rounded-lg"
      >
        <iframe class="md:w-full md:h-[60rem] aspect-video" src="https://www.youtube.com/embed/0Puv0Pss33M?si=_7lr2GH9H8wR2jda"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
  </section>

  <section class="w-full h-full flex flex-col px-4 sm:px-6 lg:px-8 mt-10">
    <h2 class="text-3xl sm:text-4xl font-extrabold text-[#F9CD6A] mt-10 mb-8">
      Our nature
    </h2>
    {% load static %}
    <div class="flex flex-wrap gap-2 justify-center w-full p-8">
      {% for image in nature_images %}
      <img src="{% static image %}" alt="Nature Image" class="object-cover max-w-[400px] max-h-[400px] cursor-pointer"
        onclick="openModal(this.src)">
      {% endfor %}
    </div>
    
    <!-- Modal for Zoom -->
    <div id="imageModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-90 hidden z-50">
      <div class="absolute top-4 right-4 flex items-center gap-4">
        <a id="downloadButton" href="" download>
          <i class="fas fa-download text-white text-md cursor-pointer"></i>
        </a>
        <span class="text-white text-3xl cursor-pointer" onclick="closeModal()">&times;</span>
      </div>
      <img id="modalImage" src="" alt="Zoomed Image" class="max-w-[80%] max-h-[80%]">
    </div>
  </section>
</div>
{% endblock %}
