{% extends 'base.html' %} {% load static %} {% block content %}

<div class="flex flex-col items-center py-10 md:py-20">
  <div class="flex items-center justify-center gap-4 mb-8">
    <img
      src="{% static 'images/multimedia-logo.png' %}"
      alt="Eco-Ranger"
      class="h-12 w-12"
    />
    <h2 class="text-3xl sm:text-4xl font-extrabold text-[#F9CD6A] text-center">
      Multimedia Resources for Kids!
    </h2>
    <img
      src="{% static 'images/multimedia-logo.png' %}"
      alt="Eco-Ranger"
      class="h-12 w-12"
    />
  </div>

  <div class="text-center mb-8">
    <p class="text-lg sm:text-xl text-[#D8EFF7] font-semibold">
      Explore these exciting infographics and learn about climate change in a
      fun and interactive way!
    </p>
  </div>

  <span class="md:text-2xl text-md font-bold text-[#F9CD6A] mb-4">Videos</span>
  <div class="flex flex-wrap justify-center gap-2 w-full">
    <div class="flex items-center justify-center p-1 rounded-lg bg-[#F9CD6A]">
      <iframe class="md:w-[40rem] md:h-[25rem] aspect-video" src="https://www.youtube.com/embed/belXC_IoW4o"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="flex items-center justify-center p-1 rounded-lg bg-[#F9CD6A]">
      <iframe class="md:w-[40rem] md:h-[25rem] aspect-video" src="https://www.youtube.com/embed/0Puv0Pss33M?si=hxg5IA6juRi2VPAJ"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="flex items-center justify-center p-1 rounded-lg bg-[#F9CD6A]">
      <iframe class="md:w-[40rem] md:h-[25rem] aspect-video" src="https://www.youtube.com/embed/WmVLcj-XKnM?si=TYeKmLI6Os6F24Vl"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="flex items-center justify-center p-1 rounded-lg bg-[#F9CD6A]">
      <iframe class="md:w-[40rem] md:h-[25rem] aspect-video" src="https://www.youtube.com/embed/QQYgCxu988s?si=oTF1N0OZwz5xfKSM"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
  
  <span class="md:text-2xl text-md font-bold text-[#F9CD6A] mb-4 mt-8">Images</span>

  <div class="self-start ml-10 mb-4 mt-8 items-center justify-center p-3 px-6 rounded-full bg-[#F9CD6A]">
    <span class="md:text-lg text-sm font-bold text-black">The planet we want</span>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 max-w-6xl w-full">
    {% for image in nature %}
    <div class="flex flex-col items-center border-4 border-[#F9CD6A] rounded-lg">
      <img src="{% static image %}" alt="Infographic" class="rounded-md shadow-lg max-w-full h-full" />
    </div>
    {% endfor %}
  </div>
  
  <div class="self-start ml-10 mb-4 mt-8 items-center justify-center p-3 px-6 rounded-full bg-[#F9CD6A]">
    <span class="md:text-lg text-sm font-bold text-black">Causes that destroy the planet</span>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 max-w-6xl w-full">
    {% for image in causes %}
    <div class="flex flex-col items-center border-4 border-[#F9CD6A] rounded-lg">
      <img src="{% static image %}" alt="Infographic" class="rounded-md shadow-lg max-w-full h-full" />
    </div>
    {% endfor %}
  </div>

  <div class="self-start ml-10 mb-4 mt-8 items-center justify-center p-3 px-6 rounded-full bg-[#F9CD6A]">
    <span class="md:text-lg text-sm font-bold text-black">What we can do to save the planet?</span>
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 max-w-6xl w-full"
  >
    {% for image in solutions %}
    <div class="flex flex-col items-center border-4 border-[#F9CD6A] rounded-lg">
      <img
        src="{% static image %}"
        alt="Infographic"
        class="rounded-md shadow-lg max-w-full h-full"
      />
    </div>
    {% endfor %}
  </div>
</div>

{% include "footer.html" %} {% endblock %}
