{% extends 'base.html' %} {% block content %}
<div class="flex flex-col items-center pt-14">
  <h2>{{ subtopic.title }}</h2>
  <img
    src="{{ subtopic.image.url }}"
    alt="{{ subtopic.title }}"
    class="w-[30%] h-[15rem]"
  />
  <p>{{ subtopic.description }}</p>

  {% for activity in activities %}
  <div class="mt-4">
    <h3>{{ activity.title }}</h3>
    <p>{{ activity.description }}</p>
    <div>
      {% if activity.activity_type == 'game' %}
        {{ activity.content | safe }}
      {% elif activity.activity_type == 'quiz' %}
        {{ activity.content | safe }}
      {% elif activity.activity_type == 'discussion' %}
        {{ activity.content | safe }}
      {% endif %}
    </div>
    {% if activity.pdf_file %}
      <a href="{{ activity.pdf_file.url }}" class="text-blue-500">Download PDF</a>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}
